/* About Section */

.about-section {
    padding: 10px 50px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.4s ease;
    /* smooth theme transition */
}

.about-container h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-container p {
    color: var(--text-color);
    /* text changes with theme */
    font-size: 18px;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.highlight {
    font-weight: 700;
    color: var(--primary-color);
}


/* Buttons */

.about-section .btn-primary {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 40px;
    font-weight: 700;
    color: var(--btn-text);
    /* text color changes with theme */
    background: linear-gradient(90deg, var(--primary-color), var(--secondary-color));
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out, transform 0.2s ease;
}

.about-section .btn-primary:hover {
    opacity: 0.85;
    transform: translateY(-2px);
}

section {
    min-height: 100vh;
    /* fill viewport */
    scroll-margin-top: 70px;
    /* navbar height */
}


/* Optional smooth scroll */

html {
    scroll-behavior: smooth;
}