/* Footer Section */

.footer-section {
    padding: 50px 50px;
    background-color: #121212;
    color: #B8B8B8;
    text-align: center;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    font-weight: 500;
}

.footer-container a:hover {
    text-decoration: underline;
}